/* montserrat-100 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  src: local("Montserrat Thin"), local("Montserrat-Thin"),
    url("../fonts/montserrat-v15-latin-100.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v15-latin-100.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-200 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  src: local("Montserrat ExtraLight"), local("Montserrat-ExtraLight"),
    url("../fonts/montserrat-v15-latin-200.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v15-latin-200.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-100italic - latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 100;
  src: local("Montserrat Thin Italic"), local("Montserrat-ThinItalic"),
    url("../fonts/montserrat-v15-latin-100italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v15-latin-100italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-300 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: local("Montserrat Light"), local("Montserrat-Light"),
    url("../fonts/montserrat-v15-latin-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v15-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-200italic - latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 200;
  src: local("Montserrat ExtraLight Italic"),
    local("Montserrat-ExtraLightItalic"),
    url("../fonts/montserrat-v15-latin-200italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v15-latin-200italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-300italic - latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 300;
  src: local("Montserrat Light Italic"), local("Montserrat-LightItalic"),
    url("../fonts/montserrat-v15-latin-300italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v15-latin-300italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-italic - latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  src: local("Montserrat Italic"), local("Montserrat-Italic"),
    url("../fonts/montserrat-v15-latin-italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v15-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v15-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v15-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500italic - latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  src: local("Montserrat Medium Italic"), local("Montserrat-MediumItalic"),
    url("../fonts/montserrat-v15-latin-500italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v15-latin-500italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v15-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v15-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* font: inherit; */
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  *overflow: visible; /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  *height: 13px; /* 3 */
  *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Начало кода */

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Geneva";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

/* Начало заголовка */

.header {
  height: 90px;
  background: #ffffff;
}



.container {
  max-width: 1140px;
  margin: 0 auto;
}

.container_2{
  padding-left: 235px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header_logo {
  padding-top: 24px;
}

.logo_link {
  width: 214px;
  height: 37px;
  left: 135px;
  top: 24px;
}

.main_nav {
  width: 427px;
  height: 22px;
  padding-top: 34px;
}

.nav_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: black;
}

.wrapper_header {
  display: flex;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}

.nav_item {
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Montserrat";
}

.nav_item_a {
  color: black;
}

.link {
  text-decoration: underline;
}

.nav_item_a:focus {
  text-decoration: underline;
}

.phone {
  padding-top: 28px;
}

.header_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Конец Заголовка */

/* Начало рисунка */
.intro_logo {
  height: 620px;
  background: url(/img/bgc_main.png);
  background-size: cover;
  padding-top: 206px;
}

.main_text {
  width: 933px;
  height: 334px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 118px;
  line-height: 105px;
  color: #ffffff;
}

/* Конец рисунка */
.intro {
  background-color: #e3e3e3;
  height: 750px;
  padding-top: 60px;
}
/* Начало Описание */
.description {
  width: 770px;
  height: 101px;
  margin: 0px 335px 60px 335px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

/* Конец Описание */

/* Начало примеров */
.examples_wrapper {
  display: flex;
  justify-content: space-between;
}

.img_des {
  height: 66px;
  width: 370px;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* or 125% */

  text-align: center;

  color: #0f0f0f;
}

/* Конец примеров */

/* Начало Кнопка прайс */
.botton_price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 60px;
}

.botton_price_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 60px;
  background-color: black;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  /* or 130% */

  text-align: center;
  letter-spacing: 0.02em;

  color: #ffffff;
}

/* Конец Кнопка прайс */

/* Начало Напишите нам */

.feedback {
  background: url(/img/feedback_bgc.png);
  background-size: cover;
  height: 677px;
  width: 100%;
}

.feedback_wrapper {
  padding-top: 40px;
  height: 500px;
  width: 570px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */

  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  /* align-items: center;  */
}

.main_info {
  width: 570px;
  height: 85px;
  margin: 0 auto;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 26px;
  /* padding-top: 70px; */
  /* or 52% */

  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.02em;

  color: #ffffff;
}

.input_name {
  width: 570px;
  height: 50px;
  background: #ffc6c6;
  opacity: 0.4;
  box-shadow: inset 0px 0px 10px rgba(196, 48, 48, 0.1);
  border: none;
}

.input_name:focus {
  width: 570px;
  height: 50px;
  background: #ffffff;
  opacity: 0.4;
  box-shadow: inset 0px 0px 10px rgba(196, 48, 48, 0.1);
}

.important_name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  /* or 186% */

  display: flex;
  align-items: center;

  color: #c43030;
}

.form_name {
  margin: 0 auto;
}

.important_name {
  padding-left: 15px;
}

.input_phone {
  background: #ffffff;
  opacity: 0.4;
  width: 570px;
  height: 50px;
  border: none;
}

.input_message {
  display: flex;
  flex-wrap: wrap;
  width: 570px;
  height: 120px;
  background: #ffffff;
  opacity: 0.4;
  border: none;
}

.button_send {
  width: 570px;
  height: 60px;
  background: #ffffff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  /* or 130% */

  text-align: center;
  letter-spacing: 0.02em;
  border: none;

  color: #0f0f0f;
}

/* Конец Напишите нам */

/* Начало Инфо */

.footer {
  height: 172px;
  background: #0f0f0f;
}

.footer_info {
  padding-top: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */

  color: #ffffff;
}

.phone_footer {
  font-family: "Montserrat";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: right;
}

.footer_rights {
  padding-top: 48px;
  width: 300px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
  /* or 250% */

  color: #ffffff;
}

.form_button {
  padding-top: 25px;
}

.call_button {
  width: 240px;
  height: 46px;

  background-color: black;
  color: white;

  border: 2px solid #ffffff;
  box-sizing: border-box;
}

.rights_call {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Конец инфо */

/* БЛОК ЦЕНЫ */
/* БЛОК ЦЕНЫ */
/* БЛОК ЦЕНЫ */
/* БЛОК ЦЕНЫ */
/* БЛОК ЦЕНЫ */

/* Начало стоимость */

.price-bg {
  background-image: url("/img/bgc_price.png");
  position: absolute;
  height: 100%;
  width: 535px;
  right: 0;
  z-index: 2;
}
.position-relative {
  position: relative !important;
}
.price-container {
  z-index: 4;
  position: relative;
}
.gray-bg {
  background-color: #E5E5E5;
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  z-index: 1;
}
.d-flex {
  display: flex !important;
}
.flex-column {
  flex-direction: column !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.title-price {
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 60px;
/* or 120% */


color: #0F0F0F;


}


.price-ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.price-li {
  margin-bottom: 20px;
  border-bottom: 2px solid;
  width: 100%;
}

.price-li-last {
  margin-bottom: 20px;
  
  width: 100%;
}

.width100{
  width: 100%;
  max-width: 750px;
}

.padding_right{
  padding-right: 80px;
}


.price-li-count{
  font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 60px;
/* or 375% */


color: #C43030;

padding-right: 10px;
}



.price-li-text{
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 60px;
/* or 375% */


color: #0F0F0F;
}

.input_style{
  background: #FFFFFF;
opacity: 0.6;
height: 60px;


}

.button_style{
  background: #FFFFFF;

  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 26px;
/* or 130% */

text-align: center;
letter-spacing: 0.02em;

color: #0F0F0F;

height: 60px;

}

.align-center{
  align-items: center;
}


.form_height{
  height: 250px;
}

.text_1, .text_2{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */
  
  
  color: #FFFFFF;
}

.text_1{
  padding-bottom: 30px;
}

.bgc_black{
  background-color: black;
}

.text_block{
  padding: 50px 0px;
}

.new_year_bg{
  background-image: url(/img/new_year_img.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 500px;
  left: 0;
}

.bg_white{
  background-color: #fff;
  position: absolute;
  z-index: 1;

  height: 100%;
  width: 100%;
  left: 0;
}

.tittle_new_year{
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 50px;
margin-bottom: 16px;
/* or 125% */

display: flex;
align-items: center;

color: #0F0F0F;
}

.des_new_year{
  font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
margin-bottom: 40px;
/* or 150% */


color: #0F0F0F;
}

.tittle_list_new_year{


  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  /* or 125% */
  
  
  color: #0F0F0F;
  


}


.item_new_year{
  font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 44px;
/* or 183% */


color: #0F0F0F;
}

.new_year_container{
  position: relative;
  z-index: 5;
  padding: 70px 0px 70px 300px;
}


.bg_grey{
  background-color: #E5E5E5;
}

.price_button{
  background-color: black;
  color: white;
  
  max-width: 370px;
  width: 100%;
  border: none;
  margin: 0 auto;
  display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.button_des{
  padding: 16px 0px 11px 0px;
  color: white;
}

.form_button{
  display: flex;
  justify-content: center;
}

.pt{
  padding-top: 70px;
}

.bg_footer{
  background-image: url(/img/feedback_bgc.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer_tittle{
  
  padding-top: 60px;
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 80px;
/* or 52% */

width: 100%;
text-align: center;
letter-spacing: 0.02em;

color: #FFFFFF;

padding-bottom: 40px;

}

.form_footer{ 
  
} 


.footer_button{
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 26px;
background-color: white;
color: black;
/* or 130% */

text-align: center;
letter-spacing: 0.02em;

color: #0F0F0F;
padding: 15px 0px;
  width: 100%;
}

.footer_item{
 margin-bottom: 25px;
 width: 100%;
 background: #FFFFFF;
opacity: 0.4;
color: white;
padding: 15px 0px;
border: none;
}
.footer_block{
  max-width: 570px;
  width: 100%;
  
}


.footer_black{
  background-color: black;
  padding-bottom: 25px;
}

.footer_mail{
  font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
/* or 150% */


color: #FFFFFF;

}

.footer_phone{
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 32px;
text-align: right;

color: #FFFFFF;

}

.footer_address{
  padding-top: 43px;
  display: flex;
  justify-content: space-between;
}

.footer_rights{
  width: 100%;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}

.footer_button_call{
border: 2px solid #FFFFFF;
box-sizing: border-box;
background: #0F0F0F;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 30px;
/* or 187% */

text-align: center;

color: #FFFFFF;
padding: 5px 55px;
}




/* конец описания прайс листа */

/* Контакты */
/* Контакты */
/* Контакты */
/* Контакты */
/* Контакты */
/* Контакты */
/* Контакты */


/* Начало Контакты с картой */

.contact_block{
  width: 1440px;
  height: 720px;
  display: flex;
}

#map {
  height: 720px;
  width: 600px;
}

.contact_des{
width: 840px;
height: 720px;
background-color: #E5E5E5;
padding-left: 135px;
}

.map_block{
  width: 720px;
}

.tittle_contact_des{
  margin-top: 70px;
  width: 600px;
height: 78px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 60px;
/* or 120% */


color: #0F0F0F;

}

.contact_address_block{
  margin-top: 64px;
  width: 470px;
height: 198px;
display: flex;
flex-wrap: wrap;
/* justify-content: space-between; */
}

.contact_element{
  font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
/* or 150% */


color: #0F0F0F;

}

.contact_element_phone{
  width: 500px;
  font-family: Montserrat;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 32px;
letter-spacing: 0em;
text-align: left;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 32px;

color: #0F0F0F;
}

.button_contact_element{
display: flex;
justify-content: center;
align-items: center;

  width: 240px;
height: 46px;
  border: 2px solid #0F0F0F;
box-sizing: border-box;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 30px;
/* or 187% */



color: #0F0F0F;

}



/* Конец Контакты с картой */


@media screen and (max-width:400px){
  .price-bg{
    width: 100px;
  }

  .ul_form{
    width: 200px;
  }
  .title-price{
    width: 200px;
  }
  .width100{
    width: 200px;
  }

.footer_address{


display: flex;
justify-content: flex-start;
flex-direction: column;
}

.footer_phone{
  font-size: 26px;
line-height: 32px;
text-align: left;
}

.footer_button_call{
  padding: 5px 5px;
}

.footer_item{
  width: 200px;
}
.form_footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer_tittle{
  padding-bottom: 0px;
  padding-top: 20px;
}

}